/* <!--Autor Liceth Dayana Lozada Beltran
Servicio nacional de aprendizaje-->
 */
*{
    margin: 0;
    padding: 0;
}
body
{
    background-color: rgb(218, 129, 245);
    font-size: 30px;
    color: black;
}
.img1
{
    width: 200px;
    height: 200px;
}
.img2
{
    width: 200px;
    height: 200px;
}
.img4
{
    width: 200px;
    height: 200px;
}
.img5
{
    width: 200px;
    height: 200px;
}
.img3
{
    width: 200px;
    height: 200px;
}
header h1
{
    text-align: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}
header
{
    background-color: #242424;
}
.seccion
{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 12%;
}
.seccion p 
{
    margin: auto;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}
.seccion a
{
    text-decoration: none;
    color: aliceblue;
}
.seccion a:hover
{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-2%);
}